@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="my-5">
        <h3>Users Table</h3>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test1</td>
                    <td>test1</td>
                </tr>
                <tr>
                    <td>Test2</td>
                    <td>test2</td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
